#accordion {
  width: 260px;
  margin: 15px;
}

.type.header {
  cursor: pointer;
  background-color: #3c99be;
  color: white;
}

.type-list {
  margin: 10px 6px;
}

.custom-control-input {
  margin-right: 5px;
}

.type.header {
  padding: 5px;
}
