<ul
  class="nav nav-pills justify-content-center shadow-lg p-3 mb-5 bg-white rounded"
>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/build-pc">Shop for PC parts</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/pc-parts">Build your PC</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/my-order">My Order<span *ngIf="getOrderCount() >0"> [{{getOrderCount()}}]</span></a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/check-out">Check Out</a>
  </li>
</ul>
